/* App.css */
.profile-container {
  display: flex; /* 启用 Flexbox 布局 */
}

.profile-nav {
  width: 200px; /* 设置导航栏宽度 */
  background-color: #333; /* 导航的背景颜色 */
  padding: 10px; /* 添加内边距 */
  display: flex;
  flex-direction: column; /* 竖着排列 */
}

.profile-content {
  flex: 1; /* 内容部分自适应剩余空间 */
  padding: 10px; /* 添加内边距使内容区与导航间隔 */
  background-color: #f8f9fa; /* 内容区背景颜色 */
}

nav a {
  color: #bbb; /* 未激活的链接颜色 */
  text-decoration: none; /* 去掉链接下划线 */
  padding: 10px 15px; /* 内边距 */
  margin: 5px 0; /* 为竖向排列的链接添加上下间距 */
  border-radius: 5px; /* 圆角 */
  transition: background-color 0.3s, color 0.3s; /* 过渡效果 */
}

nav a:hover {
  background-color: #555; /* 鼠标悬停时的背景颜色 */
  color: #fff; /* 悬停时文字颜色 */
}

nav .active {
  background-color: #007bff; /* 活动链接的背景颜色 */
  color: white; /* 活动链接的文字颜色 */
}
